body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #ffffff; /* Warna teks */
    background-color: #111111; /* Warna latar belakang */
    display: space-between;
    text-align: left;
    line-height: 1.6; /* Jarak antar baris */
    margin: 0;
}

header {
    background-color: #000015;
    color: white;
    padding: 10px 0;
    position: fixed; /* Posisi tetap di bagian atas halaman */
    top: 0;
    left: 0; /* Pastikan header dimulai dari tepi kiri halaman */
    width: 100%; /* Lebar penuh */
    z-index: 100;
    display: flexbox; /* Gunakan flexbox untuk tata letak header */
    align-items: center; /* Pusatkan konten secara vertikal */
    align-content: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 100px;
}

header nav ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  padding: 15px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  display: flex;
  text-align: center;
}

header nav ul li img {
  width: 28px;
  height: 28px;
  display: center;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

footer {
    background-color: #333333; /* Warna latar belakang */
    color: #ffffff; /* Warna teks */
    padding: 10px 0; /* Padding atas dan bawah */
    text-align: center; /* Teks rata tengah */
    bottom: 0; /* Jarak ke bawah */
    width: 100%; /* Lebar penuh */
    z-index: 100; /* Prioritas z-index untuk penumpukan elemen */
}


@media (max-width: 768px) {
    header nav ul {
        flex-direction: column; /* Mengatur menu secara vertikal */
    }

    header nav ul li {
        padding: 10px 0; /* Padding atas dan bawah */
    }

    /* Ubah elemen main */
    main {
        padding: 60px 10px 10px;
    }

    .game-card {
        padding: 15px;
    }

    /* Ubah tombol dalam game-card */
    .game-card button {
        padding: 8px 15px;
    }
}
